.main-wrapper {
  position: relative;
  margin: 0px;
  padding: 0px;
  left: 0;
  align-content: center;

  min-height: 5000px;
}
/*============================ Background =============================*/
.main-bg {
  background-image: url('./assets/dark_bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  transform: scale(1.1);
  margin: 0px;
  z-index: -1;

  transition: filter 200ms ease-in-out;
}

.main-bg.blurred {
  filter: blur(10px);
}

/*=============================== Header ===============================*/
.header-box {
  background-color: grey;
  opacity: 0.1;
  min-height: 90px;
  max-height: 90px;
  min-width: 100%;
  margin: 0px;
  padding: 0px 0px;
  overflow: hidden;
}

.header-ul li {
  display: inline;
  color: white;
  text-align: center;
  text-size-adjust: 12;
  padding: 20px;
  text-decoration: none;
}

.header.button {
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: 50px;
}

.header-box

/*============================ Title Card =============================*/
.title-card {
  position: fixed;
  left: 10%;
  top: 40%;
  margin: auto;
  opacity: 1;
  transition: opacity 200ms ease-in;
  z-index: 10;

  color: white;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 8px;
}

.title-card.hidden {
  opacity: 0;
}

.title-card h1 {
  animation-duration: 2s;
  animation-timing-function: ease-in-out; 
  animation-iteration-count: 1; 
  animation-name: fadeFromTop;

  margin: 1px;
}

.title-card h2 {
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: 6px;

  position: relative;
  left: 30vw;
  margin: 1px;

  animation-duration: 2s;
  animation-timing-function: ease-in-out; 
  animation-iteration-count: 1; 
  animation-name: fadeFromBottom;
}

.title-card.line {
  position: absolute;
  background-color: white;
  min-height: 3px;
  width: 350px;
  top:10vh;
  margin: 1px;
  left: 9vw;

  animation-fill-mode: forwards;;
  animation-duration: 1.7s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1; 
  animation-name: lineRunAnim;
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  50% {
    opacity: 0;
    transform: translateY(-20%);
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  50% {
    opacity: 0;
    transform: translateY(20%);
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lineRunAnim {
  0% {
    transform: translateX(400%) scaleY(10000000);
  }
  30% {
    transform: translateX(400%) scaleY(10000000);
  }
  50% {
    transform: translateX(-100%) scaleX(70%) scaleY(10000000);
  }
  80% {
    transform: translateX(110%) scaleX(0%) scaleY(10000000);
  }
  81% {
    transform: translateX(20%) scaleX(0%) scaleY(100%);
  }
  100% {
    transform: translateX(20%) scaleX(100%) scaleY(100%);
  }
}

/*=============================== Block ===============================*/
.block {
  background-color: inherit;
  align-self: center;
  min-height: inherit;
  height: inherit;
  top: inherit;
  width:100%;
}

/*========================== Intro Section ===========================*/
.intro-section {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;

  filter: grayscale(0.7);

  display: block;
  position: relative;
  min-height: 600px;
  width: 100%;
  top: 60vh;
  margin: 0px;

}

/*========================== Skills Section ===========================*/
.skills-section {
  background-color: white;
  background-size: cover;
  background-position: center;

  display: block;
  position: relative;
  width: 100%;
  min-height: 800px;
  top: 400px;
  margin: 0px;
}



/*========================= Glitch Text Effect ==========================*/
.text-center {
  text-align: center!important;
}
.error {
  color: white;
  font-size: 5vw;
  position: relative;
  line-height: 1;
  width: 12.5rem;
}
.mx-auto {
  margin: auto;
}
.error:before {
  content: attr(data-text);
  position: absolute;
  left: 8px;
  text-shadow: 1px 0 #4e73df;
  top: 0;
  color: white;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.error:after {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  text-shadow: -1px 0 #e74a3b;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.text-gray-800 {
  color: #5a5c69!important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
@-webkit-keyframes noise-anim{
0%{clip:rect(89px,9999px,100px,0)}
5%{clip:rect(4px,9999px,62px,0)}
10%{clip:rect(43px,9999px,16px,0)}
15%{clip:rect(2px,9999px,68px,0)}
20%{clip:rect(12px,9999px,6px,0)}
25%{clip:rect(89px,9999px,25px,0)}
30%{clip:rect(15px,9999px,38px,0)}
35%{clip:rect(57px,9999px,97px,0)}
40%{clip:rect(24px,9999px,72px,0)}
45%{clip:rect(81px,9999px,3px,0)}
50%{clip:rect(93px,9999px,26px,0)}
55%{clip:rect(68px,9999px,85px,0)}
60%{clip:rect(43px,9999px,28px,0)}
65%{clip:rect(44px,9999px,11px,0)}
70%{clip:rect(17px,9999px,33px,0)}
75%{clip:rect(74px,9999px,66px,0)}
80%{clip:rect(100px,9999px,4px,0)}
85%{clip:rect(92px,9999px,31px,0)}
90%{clip:rect(93px,9999px,98px,0)}
95%{clip:rect(23px,9999px,77px,0)}
100%{clip:rect(92px,9999px,8px,0)}
}

@keyframes noise-anim{
0%{clip:rect(89px,9999px,100px,0)}
5%{clip:rect(4px,9999px,62px,0)}
10%{clip:rect(43px,9999px,16px,0)}
15%{clip:rect(2px,9999px,68px,0)}
20%{clip:rect(12px,9999px,6px,0)}
25%{clip:rect(89px,9999px,25px,0)}
30%{clip:rect(15px,9999px,38px,0)}
35%{clip:rect(57px,9999px,97px,0)}
40%{clip:rect(24px,9999px,72px,0)}
45%{clip:rect(81px,9999px,3px,0)}
50%{clip:rect(93px,9999px,26px,0)}
55%{clip:rect(68px,9999px,85px,0)}
60%{clip:rect(43px,9999px,28px,0)}
65%{clip:rect(44px,9999px,11px,0)}
70%{clip:rect(17px,9999px,33px,0)}
75%{clip:rect(74px,9999px,66px,0)}
80%{clip:rect(100px,9999px,4px,0)}
85%{clip:rect(92px,9999px,31px,0)}
90%{clip:rect(93px,9999px,98px,0)}
95%{clip:rect(23px,9999px,77px,0)}
100%{clip:rect(92px,9999px,8px,0)}
}