/*============================ Background =============================*/
.main-bg {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  min-height: 100vh;
  margin: 0px;

  will-change: filter, transform;
  transition: filter 200ms ease-in-out, transform 200ms ease-in-out;
}

.main-bg.blurred {
  transform: scale(1.01);
  filter: blur(5px);
}

/*=============================== Header ===============================*/
.header-box {
  background-color: lightgreen;
  opacity: 0.7;
  min-height: 60px;
  max-height: 60px;
  min-width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  overflow: hidden;
}

.header-ul {
  list-style-type: none;
  float: center;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}

.header-ul li {
  display: inline;
  color: white;
  text-align: center;
  text-size-adjust: 12;
  padding: 20px;
  text-decoration: none;
}

.homebutton {
  float: center;
  margin: auto;
  font-size: 50;
  color: purple;
  text-decoration: yellow;
}


.sidebar {
  color: white;
  background-color: lightblue;
  opacity: 0.9;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  float: right;
  transform: translateY(30vh);
  width: 60px;
  height: 250px;
  margin: auto;
}

.block {
  background-color: grey;
  margin: 30px;
  height: auto;
}

.header {
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
}

.button {
  background-color: rebeccapurple;
  margin: 0px;
}

.comp {
  display: flex;
  text-align: center;
}

.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease-out, visibility 400ms ease-out;
  will-change: opacity, visibility;
}

.fade-in.visible {
  opacity: 1;
  visibility: visible;
} 
  
