/*============================ Background =============================*/
.main-bg {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  position: absolute;
  min-height: 1000vh;
  min-width: 100%;
  margin: 0px;

  transition: filter 200ms ease-in;
}

.main-bg.blurred {
  filter: blur(5px);
}

/*============================ Title Card =============================*/
.title-card {
  position: fixed;
  left: 20%;
  top: 40%;
  margin: auto;
  opacity: 1;
  transition: opacity 100ms;
}

.title-card.hidden {
  opacity: 0;
}

.title-card header{
  color: white;
  font-weight: 700;
  font-size: 80px;
}

/*=============================== Header ===============================*/
.header-box {
  background-color: grey;
  opacity: 0.4;
  min-height: 50px;
  max-height: 50px;
  min-width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  overflow: hidden;
}

.header-ul {
  list-style-type: none;
  float: center;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}

.header-ul li {
  display: inline;
  color: white;
  text-align: center;
  text-size-adjust: 12;
  padding: 20px;
  text-decoration: none;
}

/*=============================== Block ===============================*/
.block {
  background-color: lightskyblue;
  align-self: center;
  min-height: 1000px;
  width:100%;
  position: absolute;
  top: 100%;
  left: 0%;
}

.homebutton {
  float: center;
  margin: auto;
  font-size: 50;
  color: purple;
  text-decoration: yellow;
}


.header {
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
}

.button {
  background-color: rebeccapurple;
  margin: 0px;
}

.comp {
  display: flex;
  text-align: center;
}

.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease-out, visibility 400ms ease-out;
  will-change: opacity, visibility;
}

.fade-in.visible {
  opacity: 1;
  visibility: visible;
} 
  
